<div class="w-75">
<p style="color: green"><%= notice %></p>

<%= link_to "Maak een nieuwe ticket aan", new_ticket_path, class: "btn btn-primary mb-2 m-2" %>

<div id="tickets" class="m-2">
  <% @tickets.each do |ticket| %>
    <%= render ticket %>
  <% end %>
</div>
</div>