@import "bootstrap";

.status, .open_status, .closed_status, .hold_status {
    font-size: 25px;
}

.open_status {
    color: green;
}

.closed_status {
    color: red;
}

.hold_status {
    color: orange;
}

.profile_image {
    border-radius: 100px;
    width: 40px;
    height: 40px;
}

.low_priority {
    color: green;
}

.medium_priority {
    color: rgb(0, 110, 255);
}

.high_priority {
    color: rgb(255, 187, 0);
}

.urgent_priority {
    color: rgb(255, 0, 0);
}

#tickets * {
    align-items: center;
}